*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 40.625em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #f2f2f2;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
}
