*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 40.625em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 40.625em) {
  body {
    font-size: 1.6rem;
  }
}

h2 {
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #f2f2f2;
}

p {
  line-height: 1.6;
}

.attribution {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin: 5rem 0;
}

.attribution__link {
  color: #000;
}

.attribution__link:hover {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

@media only screen and (max-width: 40.625em) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5rem;
  }
}

.card {
  max-width: 30rem;
  padding: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7vh (min-content)[3];
      grid-template-rows: 7vh repeat(3, -webkit-min-content);
      grid-template-rows: 7vh repeat(3, min-content);
  grid-row-gap: 2rem;
}

.card--sedans {
  background-color: #e38826;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 40.625em) {
  .card--sedans {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}

.card--suvs {
  background-color: #006970;
}

.card--luxury {
  background-color: #004241;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 40.625em) {
  .card--luxury {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

.card__icon {
  width: 8rem;
  height: 5rem;
}

.card__btn {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-top: 5rem;
  border: none;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  background-color: #f2f2f2;
  padding: 1.5rem 3.25rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card__btn:hover {
  background-color: transparent;
}

.card__btn--sedan {
  color: #e38826;
}

.card__btn--sedan:hover {
  color: #f2f2f2;
}

.card__btn--suvs {
  color: #006970;
}

.card__btn--suvs:hover {
  color: #f2f2f2;
}

.card__btn--luxury {
  color: #004241;
}

.card__btn--luxury:hover {
  color: #f2f2f2;
}

@media only screen and (max-width: 40.625em) {
  .card__btn {
    margin-top: 3rem;
  }
}
