//COLORS

$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);

//FONT

$white: hsla(0, 0%, 100%, 0.75);

//BACKGROUND, HEADINGS, BUTTONS

$grey: hsl(0, 0%, 95%);

//RESPONSIVE BREAKPOINTS

$bp-desktop: 90em; //1440px
$bp-tablet: 56.25em; //900px
$bp-mobile: 40.625em; //650px

// BORDER RADIUS

$radius: 10px;

//RESETS & RESPONSIVE FONT SIZES

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-tablet) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-mobile) {
        font-size: 50%;
    }
}

body {
    background-color: $grey;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: $white;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-mobile) {
        font-size: 1.6rem;
    }
}

h2 {
    font-family: "Big Shoulders Display";
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: $grey;
}

p {
    line-height: 1.6;
}

.attribution {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin: 5rem 0;

    &__link {
        color: #000;

        &:hover {
            text-decoration: none;
        }
    }
}
